<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Url Shortener</title>

    <!-- jQuery CDN -->
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
</head>
<body>
    <h1>Welcome to url Shortener</h1>
    <form id="post-form">
        {% csrf_token %}
        <input type="text" name="link" id="link" placeholder="Enter Link">
        <button type="submit">Shorten Link</button>
    </form>

    <section class="shorten-links">
        <h2>Short Link: <a href="#" target="_blank" id="recent"></a></h2>
        <hr>
        {% for new_url in urls %}
            <h2>Link: {{ new_url.link }} </h2>
            <h2>Short Link: <a href="http://127.0.0.1:8000/go/{{ new_url.uuid }}" target="_blank">localhost:8000/go/{{ new_url.uuid }}</a></h2>
        {% endfor %}
    </section>

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>